<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="web-inf.webmapper.boardmapper">

	<insert id="insertBoard" parameterType="String">
	
		insert into board(title,username,content)  values (#{title}, #{username}, #{content})
		
	</insert>
	
	<select id="allBoard" parameterType="String" resultType="com.board.Board">	
	select title, username, content from board
	</select>
</mapper>